body {
  background-image: url(.../img/b3.jpg); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

/* navbar begins here*/
.navbar{
  background-color: #0f0597 !important;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; 
}
.navbar .navbar-nav .nav-link {
  font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
color: rgb(0, 186, 253) !important;
}

/* navbar ends here here*/

/* carousel slider begins here*/
.trasparent{
  background-color: transparent;
}
.card-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.card-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.img-wrapper {
    max-width: 100%;
    height: 65vm;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  img{
    max-height: 100%;
    max-width: 100%;
  }

@media screen and (min-width: 576px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 calc(100%/3);
      display: block;
    }
    .img-wrapper {
        height: 23vw;
      }
  }

  .carousel-inner{
    padding: 1em;
}
.card{
    margin: 0 .5em;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22,22,26,.18);
}
 .carousel-control-prev,.carousel-control-next{
    width: 6vh;
    height: 6vh;
    background-color: #e1e1e1;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
 }

 .carousel-control-prev:hover,.carousel-control-next:hover{
    opacity: 8;
 }
/* carousel slider ends here*/

 /* cards view begins here*/
 div.introduction {
    padding: 1em;
    background: #f5f5f5;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

/* Card Based Layout - Base styles */

article.col-md-4 .col-lg-3 {
  background: #f5f5f5;
  margin-top: 1em;  
  margin-bottom: 2em;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

div.card-content {
  padding: 0.5em;
  margin-top: 1em;  
  margin-bottom: 2em;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

div a, a:hover{
  text-decoration: none;
}
/* cards view ends here*/

/*flip card view begins here*/
.card-block .btn-outline-primary {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
  }
  
  .card {
    margin: 20px 0;
  }
  .card-container {
    perspective: 700px;
  }
  .card-flip {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    height: auto;
    transition: all 0.5s ease-out;
    border: none;
  }
  
  .card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    border: none;
  }
  
  .card-flip .front {
    position: relative;
    z-index: 1;
  }
  
  .card-flip .back {
    position: relative;
    z-index: 0;
    transform: rotateY(-180deg);
  }
  
  .card-container:hover .card-flip {
    transform: rotateY(180deg);
  }
  /* flip card CSS ends here*/

  /*register page */

  /* google fonts start here */
 
  @font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
      font-family: 'Roboto';
      src: url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
  }

  /* google fonts end here */

  /* CSS style to set background image for the div */
  .background-image {
    background-image: url('./assets/img/card1.png'); /* URL of the image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
}
